* {
  margin: 0;
  padding: 0;
  }

body{
    background-image: url('../pictures/bground.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
    }

.wrapper{
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 227px;
    border : #898b90 solid 1px;
    text-align : left;
    padding :  110px 64px 88px 59px;    
    background-color: white;    
    }

.float{
    width: 900px;
    border-bottom: 1px solid #424040;
    padding-bottom: 52px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    }

.top{   
   width: 650px;    
   }

.inner-box{    
    width : 214px;                
    }   
    
    
.secfloat{
    width: 900px;
    margin-top: 55px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    }

.floa{
    width: 214px;
    position: relative;   
    }     
        
.content {        
    width : 650px;      
    } 

.list{
    margin-top: 30px;
    }
     
ol{
   list-style: none;
   }

ol li{       
    padding-bottom: 18px;
    padding-top: 1px;
    margin-top: 0px;
    }
        
b{
     text-align: left;
     padding-left: 8px;
     padding-bottom: 0px;
     }

/* ol li:nth-of-type(n)::before {
    content: url('../pictures/q1.png');  
    float: left;
    }

 ol li:nth-of-type(2n)::before {
    content: url('../pictures/q2.png');   
   }
  
 ol li:nth-of-type(3n)::before {
    content: url('../pictures/q3.png');   
   } */

  
li p{        
    text-align: left;
    padding-left: 39px; 
    } 

ol {       
    counter-reset: item; 
}

ol li { 
    display: block;   
}

ol li:before{
       content: counter(item) " "; 
       counter-increment: item;
       display: inline-block;  
       box-sizing: border-box;
       width: 27px;
       height: 27px;
       padding-left: 8px;
       padding-top: 3px;
       background-color: #38afe5;
       border: 1px solid #3b8fb7;
       border-radius: 50%;
       color: #fff;
}


.style {
    font-size : 19px;
    font-weight : bold;
    font-family : Arial;
    line-height : 19px;
    color: #676f81;
    margin-bottom: 20px;
    }     
    
.test{
    width: 214px;
    border: 1px solid #e9e6e6;
    background-color: #fcfafa;
    margin-top: 24px;
    margin-bottom: 66px;
    padding: 17px;
    box-sizing: border-box;
    }

.test::after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 1px solid #e9e6e6;
        border-style: solid;
        border-width: 26px 13px 0px 13px;
        border-color: #fcfafa transparent transparent  transparent;
        left: 45%;
        top: 243px;  
      }   

.test p::before{
        content: "“"
    }
    
.test p::after{
        content: "”"
    }    

.centr{
    text-align: center;
    width: 214px;
}
   
ul{
    padding: 0;
    width: 500px;
    list-style : none;
    }    

ul li {    
    width: 50%;
    display: inline-block;
    font-size : 15px;
    font-weight : bold;
    font-family : Arial;
    float: left;
    line-height: 22.8px;    
    }

ul li:before {
    content: "→";
    color: #38afe5;
    display: inline-block;
    margin-right: 17px;
    }  

h2 {
    font-size : 32px;
    font-style : normal;
    font-family : Pathway Gothic One;    
    margin-bottom: 23px;    
    text-transform: uppercase;
    color: #263555;
    }
  
p {
    font-size : 13px;
    font-weight : normal;
    font-family : Arial;
    line-height : 19px;
    color: #4e5050;
    }

img {
    margin-bottom: 25px;
    float: left;
    margin-right: 25px;
    }

span{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #263555;
    }




 


                     


    
    
      