body {
    background: url(../img/bground.jpg) no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .box {
        background: url(../img/bground@2x.jpg) no-repeat;
    }
}
.gallary {
    background-color: #fff;
    max-width: 1024px;
    width: 100%;
    margin: auto;
}
.gallary__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 1024px;
    align-items: center;
    padding: 5.8%;
}
.gallary__content-img {
    display: block;
    width: 288px;
    padding: 20px 0;
    height: 155px;
}
.gallary__content-pict {
    position: relative;
}
.gallary__content-hover {
    display: block;
    width: 288px;
    margin: 20px 0;
    height: 155px;
    background-color: rgba(77, 78, 94, .5);
    position: absolute;
    bottom: -1px;
    display: none;
}
.zoom {
    fill: #fff;
    display: block;
    margin: 61px auto 54px;
}
.gallary__content-pict:hover>.gallary__content-hover {
    display: block;
}
h1 {
    font-family: Pathway Gothic One;
    padding-left: 5.8%;
    padding-top: 8.6%;
    text-transform: uppercase;
    color: #263555;
    font-size: 2rem;
}
.wrap {
    margin: auto;
    max-width: 1024px;
    width: 100%;
    padding-bottom: 14px;
}
.head {
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box;
    width: 1024px;
    font-family: Pathway Gothic One;
    text-transform: uppercase;
    text-align: center;
}
.head__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.head__menu-item {
    position: relative;
    display: block;
    padding-top: 101px;
    font-size: 28px;
}
a {
    display: block;
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #384869;
}
.submenu {
    position: absolute;
    text-align: center;
    width: 68px;
    background-color: #fff;
    list-style: none;
    display: none;
    bottom: -5px;
    left: -5px;
}
.submenu:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 3px 5px 3px;
    border-color: transparent transparent white transparent;
    left: 50%;
    bottom: 100%;
}
.head__menu-item:hover>.submenu {
    display: block;
    background-color: #f2f2f3;
}
.submenu a:hover {
    color: #263555;
    background-color: #f2f2f3;
}
.submenu a {
    color: #6b7488;
}
.log {
    padding-top: 44px;
    padding-bottom: 53px;
}
.logo {
    width: 138px;
    height: 138px;
    background-color: #fff;
    font-family: Dorsa;
    color: #384869;
    line-height: 138px;
    border: 1px;
    border-radius: 50%;
    font-size: 59px;
}
.wrapper {
    box-sizing: border-box;
    width: 1020px;
    background-color: #fff;
    margin: auto;
}
.footer {
    box-sizing: border-box;
    max-width: 1024px;
    width: 100%;
    background-color: #30455b;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}
.list {
    width: 45.07%;
    margin-top: 4.09%;
    margin-right: 11.2%;
    margin-bottom: 4.3%;
    margin-left: 13.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list__first {
    width: 100%;
    margin-bottom: 2.5%;
}
.list__second {
    width: 100%;
}
.list__first-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.list__first-item li:nth-of-type(3) {
    margin-right: 3.93%;
}
.list__first-item li:nth-of-type(2) {
    margin-right: -5.02%;
}
.list__second-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.contact {
    width: 12%;
    margin-right: 16.58%;
}
.contact p {
    display: inline;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}
#info {
    text-transform: lowercase;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}
#contact {
    font-size: 18px;
    padding-bottom: 10.5%;
    display: block;
    margin-right: 10px;
}
.bottom1 {
    position: fixed;
    /*left: 82%;*/
    /*top: 93%;*/
    
    right: 150px;
    bottom: 150px;
    width: 29px;
    height: 29px;
    background-color: #38afe5;
    border-radius: 70%;
    border: 1px;
}
#paste {
    box-sizing: border-box;
    display: block;
    padding: 9px;
    text-align: center;
    color: white;
}
/*sprite*/

.wrapper1 {
    width: 1020px;
    margin: 20px auto;
    display: flex;
}
.nav1 {
    margin: auto;
    width: 203px;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nav1__item1 {
    width: 40px;
    height: 40px;
    padding: 10px;
}
.icon {
    width: 12px;
    height: 12px;
    fill: #e3b062;
    background-color: #fff;
    border-radius: 50%;
    padding: 13px;
}
.icon:hover {
    fill: #7237AA;
}
#svg {
    display: none;
    height: 5px;
}
.text {
    width: 1020px;
    margin: 20px auto;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}
/*content*/