<!DOCTYPE html>
html(lang="en")
  head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      title Gallery
      link(href="https://fonts.googleapis.com/css?family=Dorsa" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
      link(href="https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300" rel="stylesheet")
      link(rel="stylesheet" href="css/style.css")
  body
    header.wrap
      nav.head
        ul.menu
          li.item
            a(href="#") home
          li.item
            a(href="#") about
              ul.submenu
                li.subitem
                  a(href="#") agency
                li.subitem
                  a(href="#") news
                li.subitem
                  a(href="#") team
          li.item
            a(href="#") gallery
          li.item.log
            a.logo(href="#") journey
          li.item
            a(href="#") tours
          li.item
            a(href="#") blog
          li.item
            a(href="#") contacts


    .content
      h1 Our Gallery
      .flax
        .flax-hover
          img.img(src="img/nine.png" alt="1")
          .img-hover
            img.icon(src="img/icon.png" alt="2")

        .flax-hover
          img.img(src="img/eight.png" alt="1")
          .img-hover
            img.icon(src="img/icon.png" alt="2")
        .flax-hover
          img.img(src="img/seven.png" alt="1")
          .img-hover
            img.icon(src="img/icon.png" alt="2")
        .flax-hover
          img.img(src="img/six.png" alt="1")
          .img-hover
            img.icon(src="img/icon.png" alt="2")
        .flax-hover
          img.img(src="img/five.png" alt="1")
          .img-hover
            img.icon(src="img/icon.png" alt="2")
        .flax-hover
          img.img(src="img/four.png" alt="1")
          .img-hover
            img.icon(src="img/icon.png" alt="2")
        .flax-hover
          img.img(src="img/thre.png" alt="1")
          .img-hover
            img.icon(src="img/icon.png" alt="2")
        .flax-hover
          img.img(src="img/two.png" alt="1")
          .img-hover
            img.icon(src="img/icon.png" alt="2")
        .flax-hover
          img.img(src="img/one.png" alt="1")
          .img-hover
            img.icon(src="img/icon.png" alt="2")

          .bottom1
            span#paste &#94    


    .footer
      .gol
        .nav-bot
          ul
            li FAQS Page
            li Useful links
            li Insurance
            
        .nav-bot2
          ul
            li People Say 
            li Partners  
            li Family Travel
            
      .contact
        span#contact Contact Us:
        p#tel TEL: 
        p 1-800-234-5678 
        span#info info@demolink.org             
        


    .wrapper1
      ul.nav1
          li.item1
            a.sprite(href="#").link
            
          li.item1
            a.sprite(href="#").link

          li.item1
            a.sprite(href="#").link
            
          li.item1
            a.sprite(href="#").link
    .text
        p Journey © 2013 | Privacy Policy | Website designed by TemplateM

