* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../img/bground.jpg');   
}

.header{
    width: 1021px;
    margin: auto;    
}

.nav{
    box-sizing: border-box;
    width: 1021px;
    padding-top: 101px;
    padding-bottom: 92px;    
    font-family: Pathway Gothic One;
    text-transform: uppercase;    
    text-align: center;
}

.menu{
    box-sizing: border-box;
    list-style: none;
    display: inline-block;
    padding-left: 50px;
}

.item{
    position: relative;
    display: inline-block;
    padding-right: 57px;
    font-size: 28px;  
 }

a{
    text-decoration: none;
    color: #fff;
}

.submenu{
    position: absolute;
    display: none;
    width: 68px;
    padding:9px;    
    left: -10px;    
    background-color: white;
    list-style: none;     
}

.submenu:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 3px 5px 3px;
    border-color: transparent transparent white transparent;
    left: 50%;
    bottom: 100%;    
}

    .item:hover>.submenu{
        display: block;
    }

 .subitem a{    
    color: #6b7488;
    padding: 0px;     
}

.logo {
    display: inline-block;
    margin-right: 49px;
    width: 138px;
    padding: 46px 15px 50px 15px;
    border: 1px;
    border-radius: 69%;
    background-color: #fff;
    color: #263555; 
    text-align: center;
}

 .logo a{
    color: #263555;
    font-family: Dorsa;
    text-transform: uppercase; 
    font-size: 59px;    
}

a:hover{    
    color: #263555;
}

.wrapper{    
    box-sizing: border-box;
    width: 1021px;
    margin: auto;
    padding: 59px;
    background-color: #fff;
}   


.content{
    position: relative;   
    border-left: 1px solid #f4f0ec;
}


.slider{
    position: absolute;
    left: 36px;  
    width: 85px;
    height: 85px;
    top: 452px;
    background-color: #38afe5;
    border-radius: 70%;
    border: 1px;    
}

.slider a{    
    display:inline-block;
    color: white;
}

.slider a:nth-of-type(1) {
    padding-left: 22px;
    padding-top: 30px;
}

.slider a:nth-of-type(2) {
    padding-right: 22px;
    padding-top: 30px;
    padding-left: 5px;
}

#first{
    box-sizing: border-box;
    display: block;
    padding: 12px;
    width: 219px;
    position: absolute;
    top: 215px;
    right: 675px;
    left: 0px;
    background-color: #fff;
    margin: 0px;
    font-size: 22px;
    font-family: Pathway Gothic One;
    text-transform: uppercase;
    color: #344260;  
}

#second{
    display: block;
    box-sizing: border-box;
    position: absolute;
    padding: 12px;
    background-color: #38afe5;
    width: auto;
    left: 0px;
    top: 264px;
    margin: 0px;
    font-size: 31px;
    font-family: Pathway Gothic One;
    text-transform: uppercase; 
    color: #fff;  
}

h2{
    font-family: Pathway Gothic One;
    font-size: 30px;
    color: #263555;
    text-transform: uppercase; 
    padding-top: 58px;
    padding-bottom: 49px;
}

.footer{
    width: 1021px;
}

.footer::after{
    content: "";
    display: table;
    clear: both; 
}

.section1{
    position: relative;
    width: 288px;
    height: 270px;
    float: left;
    margin-right: 20px;  
}

.section2{
    width: 288px;
    height: 270px;
    float: left;
    margin-right: 20px; 
}

.section3{
    width: 288px;
    height: 270px;
    float: left;    
}

   

.aside{
    position: absolute;
    width:100%;
    left: 0px;    
    top: 0px;
    bottom: 0px;    
}

.text{
    position: absolute;
    width:100%;
    left: 0px;   
    top: 0px;
    bottom: 0px;
}

p{
    font-size: 10px;
    color: #fff;
    font-family: Arial;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 21px;
    line-height: 15px;
}

h3{
    font-family: Pathway Gothic One;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase; 
    text-align: center;   
    padding-top: 21px;
}

.hovers{    
        position: absolute;
        display: none;
        width: 50%;
        left: 0px;        
        top: 0px;
        bottom: 0px;
        background-color: red;
              
}
    
.section1:hover>.hovers{
         display: block;                
 }

.bottom{     
    position: fixed;
    bottom: 0px;
    margin-left: 900px;
    margin-top: 74px;
    width: 29px;
    height: 29px;
    background-color: #38afe5;
    border-radius: 70%;
    border: 1px;    
}   

#paste{
    box-sizing: border-box;
    display: block;
    padding: 9px;
    text-align: center;
    color: white;
}   

#button{
    box-sizing: border-box;
    display: block;
    width: 62px;
    margin-top:33px;
    margin-left: 70px;
    padding-left: 11px;
    padding-right: 11px;    
    padding-top: 4px;
    padding-bottom: 6px;
    border-radius: 10px;
    background-color: #fbf6f8;
    font-family: Arial;
    font-size: 12px;
}











