* {
    margin: 0px;
    padding: 0px;
}
body {
    background: url(../img/bground.jpg) no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
}
.content {
    background-color: #fff;
    max-width: 1024px;
    width: 100%;
    margin: auto;
}
.flax {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 1024px;
    align-items: center;
    padding: 5.8%;
}
.flax-hover {
    position: relative;
    width: 288px;
    padding: 10px 0;
    height: 155px;
}
img {
    display: block;
    width: 288px;
    /* padding: 20px 0; */
    
    height: 155px;
}
.img-hover {
    display: block;
    width: 288px;
    height: 155px;
    box-sizing: border-box;
    background-color: rgba(77, 78, 94, .5);
    position: absolute;
    left: 0px;
    top: 10px;
    display: none;
}
.icon {
    width: 32px;
    height: 32px;
    padding: 62px 121px 54px 128px;
}
.flax-hover:hover>.img-hover {
    display: block;
}
h1 {
    font-family: Pathway Gothic One;
    padding-left: 5.8%;
    padding-top: 8.6%;
    text-transform: uppercase;
    color: #263555;
    font-size: 2rem;
}
.wrap {
    margin: auto;
    max-width: 1024px;
    width: 100%;
    padding-bottom: 14px;
}
.head {
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box;
    width: 1024px;
    font-family: Pathway Gothic One;
    text-transform: uppercase;
    text-align: center;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.item {
    position: relative;
    display: block;
    padding-top: 101px;
    font-size: 28px;
}
a {
    display: block;
    text-decoration: none;
    color: #fff;
}
a:hover {
    color: #384869;
}
.submenu {
    position: absolute;
    text-align: center;
    width: 68px;
    background-color: #fff;
    list-style: none;
    display: none;
    bottom: -5px;
    left: -5px;
}
.submenu:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 3px 5px 3px;
    border-color: transparent transparent white transparent;
    left: 50%;
    bottom: 100%;
}
.item:hover>.submenu {
    display: block;
    background-color: #f2f2f3;
}
.submenu a:hover {
    color: #263555;
    background-color: #f2f2f3;
}
.submenu a {
    color: #6b7488;
}
.log {
    padding-top: 44px;
    padding-bottom: 53px;
}
.logo {
    width: 138px;
    height: 138px;
    background-color: #fff;
    font-family: Dorsa;
    color: #384869;
    line-height: 138px;
    border: 1px;
    border-radius: 50%;
    font-size: 59px;
}
.wrapper {
    box-sizing: border-box;
    width: 1020px;
    background-color: #fff;
    margin: auto;
}
.footer {
    box-sizing: border-box;
    max-width: 1024px;
    width: 100%;
    background-color: #30455b;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}
.gol {
    width: 45.07%;
    margin-top: 4.09%;
    margin-right: 11.2%;
    margin-bottom: 4.3%;
    margin-left: 13.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-bot {
    width: 100%;
    margin-bottom: 2.5%;
}
.nav-bot2 {
    width: 100%;
}
.nav-bot ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.nav-bot ul li:nth-of-type(3) {
    margin-right: 3.93%;
}
.nav-bot ul li:nth-of-type(2) {
    margin-right: -5.02%;
}
.nav-bot2 ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.contact {
    width: 12%;
    margin-right: 16.58%;
}
.contact p {
    display: inline;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}
#info {
    text-transform: lowercase;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}
#contact {
    font-size: 18px;
    padding-bottom: 10.5%;
    display: block;
    margin-right: 10px;
}
.bottom1 {
    position: fixed;
    right: 0px;
    bottom: 150px;
    width: 29px;
    height: 29px;
    background-color: #38afe5;
    border-radius: 70%;
    border: 1px;
}
#paste {
    box-sizing: border-box;
    display: block;
    padding: 9px;
    text-align: center;
    color: white;
}
/*sprite*/

.wrapper1 {
    width: 1020px;
    margin: 20px auto;
    display: flex;
}
.nav1 {
    margin: auto;
    width: 203px;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.item1 {
    padding: 10px;
}
.item1:nth-of-type(1)>a {
    width: 40px;
    height: 40px;
    background: url('../img/sprites.png');
    background-repeat: no-repeat;
    background-position: -130px -130px;
}
.item1:nth-of-type(2)>a {
    width: 40px;
    height: 40px;
    background: url('../img/sprites.png');
    background-repeat: no-repeat;
    background-position: -10px -10px;
}
.item1:nth-of-type(3)>a {
    width: 40px;
    height: 40px;
    background: url('../img/sprites.png');
    background-repeat: no-repeat;
    background-position: -190px -190px;
}
.item1:nth-of-type(4)>a {
    width: 40px;
    height: 40px;
    background: url('../img/sprites.png');
    background-repeat: no-repeat;
    background-position: -70px -70px;
}
.text {
    width: 1020px;
    margin: 20px auto;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}
/*content*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .content {
        max-width: 768px;
        width: 100%;
    }
    .flax {
        width: 100%;
    }
    .flax-hover {
        width: 48.8%;
        margin: 0.2%;
    }
    img {
        width: 100%;
    }
    .flax-hover:nth-of-type(9) {
        display: none;
    }
    h1 {
        font-size: 1.75rem;
    }
    .bottom1 {
        top: 93%;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .content {
        max-width: 480px;
        width: 100%;
    }
    .flax {
        width: 84.75%;
        flex-direction: column;
        display: block;
        box-sizing: content-box;
        padding: 7.7%;
    }
    .flax-hover {
        width: 100%;
        height: auto;
    }
    img {
        width: 100%;
        height: auto;
    }
    .flax-hover:nth-of-type(9) {
        display: none;
    }
    .flax-hover:nth-of-type(8) {
        display: none;
    }
    .flax-hover:nth-of-type(7) {
        display: none;
    }
    h1 {
        font-size: 1.75rem;
    }
    .bottom1 {
        top: 93%;
    }
}
/*footer*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        max-width: 768px;
        width: 100%;
    }
    .wrapper1 {
        max-width: 768px;
        width: 100%;
        margin-bottom: 0px;
    }
    .text {
        max-width: 768px;
        width: 100%;
        font-size: 12px;
        margin-bottom: 16px;
    }
    .gol {
        width: 55.2%;
        margin-left: 6.1%;
        margin-right: 11.7%;
    }
    .nav-bot {
        width: 100%;
    }
    .contact {
        width: 16.2%;
        margin-right: 7.6%;
    }
    p {
        font-size: 0.75em;
    }
    #contact {
        display: block;
    }
    .wrapper1 {
        max-width: 786px;
        width: 100%;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .footer {
        max-width: 480px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-left: 13.54%;
        padding-right: 75px;
    }
    .wrapper1 {
        max-width: 480px;
        width: 100%;
        margin-bottom: 10px;
    }
    .text {
        max-width: 480px;
        width: 100%;
        font-size: 9px;
        margin-top: 0px;
    }
    .gol {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        padding-right: 31px;
    }
    .contact {
        width: 100%;
        box-sizing: border-box;
        /*margin: auto;*/
        
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6%;
        margin-left: 0;
        margin-right: 0;
    }
    .contact p {
        display: inline;
        font-size: 10px;
    }
    .contact p::before {
        content: "";
        display: block;
        background: url("../img/tel.png") no-repeat;
        width: 11px;
        height: 19px;
        float: left;
    }
    #contact {
        font-size: 14px;
        padding-bottom: 0;
        display: inline;
        margin-right: 0;
    }
    #tel {
        display: none;
    }
    #info::before {
        content: "";
        display: block;
        background: url("../img/mail.png") no-repeat;
        width: 16px;
        height: 11px;
        float: left;
    }
    /*sprite*/
    
    .item1 {
        padding: 1px;
    }
    .item1:nth-of-type(1)>a {
        width: 26px;
        height: 26px;
        background: url('../img/sprites1.png');
        background-repeat: no-repeat;
        background-position: -56px -57px;
        margin-right: 7px;
    }
    .item1:nth-of-type(2)>a {
        width: 26px;
        height: 26px;
        background: url('../img/sprites1.png');
        background-repeat: no-repeat;
        background-position: -57px -10px;
        margin-right: 7px;
    }
    .item1:nth-of-type(3)>a {
        width: 27px;
        height: 27px;
        background: url('../img/sprites1.png');
        background-repeat: no-repeat;
        background-position: -10px -10px;
        margin-right: 7px;
    }
    .item1:nth-of-type(4)>a {
        width: 26px;
        height: 26px;
        background: url('../img/sprites1.png');
        background-repeat: no-repeat;
        background-position: -10px -57px;
        margin-right: 7px;
    }
}
/*header*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrap {
        max-width: 768px;
        width: 100%;
    }
    .head {
        max-width: 291px;
        width: 100%;
        margin: 20px auto;
        padding: 0;
    }
    .menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .item {
        font-size: 24px;
        padding-right: 40px;
    }
    .item:nth-of-type(n+4) {
        padding-top: 25px;
    }
    .item:nth-of-type(3) {
        padding-right: 0;
    }
    .item:nth-of-type(4) {
        padding-top: 0;
        padding-right: 0;
    }
    .item:nth-of-type(7) {
        padding-right: 6px;
    }
    .submenu {
        max-width: 60px;
        width: 100%;
        background-color: #f2f2f3;
        font-size: 17px;
        bottom: 0px;
        top: 130px;
        left: -10px;
        z-index: 10;
    }
    .subitem {
        background-color: #f2f2f3;
    }
    .log {
        padding-bottom: 23px;
        padding-top: 0;
    }
    .logo {
        width: 100px;
        height: 100px;
        font-size: 43px;
        line-height: 100px;
        position: absolute;
        right: 110px;
        bottom: 40px;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .wrap {
        max-width: 480px;
        width: 100%;
    }
    .head {
        max-width: 227px;
        width: 100%;
        margin: 20px auto;
        padding: 0;
    }
    .menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .item {
        font-size: 20px;
        padding-right: 20px;
    }
    .item:nth-of-type(n+4) {
        padding-top: 20px;
    }
    .item:nth-of-type(3) {
        padding-right: 0;
    }
    .item:nth-of-type(4) {
        padding-right: 5px;
    }
    .item:nth-of-type(7) {
        padding-right: 10px;
    }
    .submenu {
        max-width: 48px;
        width: 100%;
        background-color: #f2f2f3;
        font-size: 14px;
        bottom: 0px;
        top: 127px;
        left: -5px;
        z-index: 10;
    }
    .subitem {
        background-color: #f2f2f3;
    }
    .log {
        padding-bottom: 23px;
        padding-top: 0;
    }
    .logo {
        width: 77px;
        height: 77px;
        font-size: 33px;
        line-height: 77px;
        position: absolute;
        right: 90px;
        bottom: 40px;
    }
}